@import "tailwindcss";

:root {
  --background: #0f1923; /* Valorant dark blue theme */
  --foreground: #ece8e1; /* Off-white text */
  --valo-red: #ff4655; /* Valorant signature red */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
